<div id="id-{{ id }}" class="content-section {% unless image == blank %} gutter--{% if gutter_enabled and image %}on{% else %}off{% endif %} {% else %} gutter--on {% endunless %} rich-text rich-text--{{ image_position }} rich-text--media-{% unless image == blank %}on{% else %}off{% endunless %}">

  <div class="rich-text__content" style="text-align: {{ text_alignment }}">

    {% unless title == blank %}
      <h2 class="rich-text__title {% if text_size == 'regular' %} h1 {% elsif text_size == 'large' %} h0 {% else %} hh {% endif %}">{{ title | escape }}</h2>
    {% endunless %}

    {% unless body == blank %}
      <div class="rich-text__body rte">{{ body }}</div>
    {% endunless %}

  </div>
  
  {% unless image == blank%}
    <div class="rich-text__media">
      {% render 'lazy-image', image: image, type: 'background' %}
    </div>
    {% style %}
      #id-{{ id }} .rich-text__media {
        height: {{ image_height }};
      }
    {% endstyle %}
  {% endunless %}

</div>

{% if color_bg != 'rgba(0,0,0,0)' %}
  {% style %}
    #id-{{ id }} .rich-text__content,
    #id-{{ id }}.rich-text--media-off {
      background: {{ color_bg }};
    }
    #id-{{ id }}.rich-text--media-off {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  {% endstyle %}
{% endif %}

{% if color_text != 'rgba(0,0,0,0)' %}
  {% style %}
    #id-{{ id }} {
      color: {{ color_text }};
    }
    #id-{{ id }} a {
      color: {{ color_text }};
    }
  {% endstyle %}
{% endif %}