<div id="id-{{ id }}" class="content-section gutter--{% if gutter_enabled %}on{% else %}off{% endif %} video-text">

  <div class="video-text__container">

    {% if url != blank and button_label == blank %}
      <a href="{{ url | escape }}">
    {% endif %}

      <div class="video-text__content {{ text_alignment }}">
        <div>
          
          <h3 class="video-text__title {% if text_size == 'regular' %} h1 {% elsif text_size == 'large' %} h0 {% else %} hh {% endif %}"><span>{{ title | escape }}</span></h3>
          {% unless body == blank %}

          <div class="video-text__body rte {% if text_size == 'large' %} h2 {% elsif text_size == 'huge' %} h1 {% endif %}">{{ body }}</div>
          {% endunless %}

          {% unless button_label == blank %}
            <a class="button button--solid {% if text_size == 'huge' %} button--large {% endif %}" {% if color_text != 'rgba(0,0,0,0)' %} data-color="{{ color_text }}" {% endif %} {% unless url == blank %} href="{{ url | escape }} {% endunless %}" title="{{ button_label | escape }}">{{ button_label | escape }}</a>
          {% endunless %}

        </div>
      </div>
    
      <div class="video-text__background" data-height="{{ video_height }}" {% unless video == blank %} data-src="{{ video }}" {% endunless %}>
        
        {% unless image == blank %}
          <span class="video-text__image" aria-hidden="true">
            {% render 'lazy-image', image: image, type: 'background' %}
          </span>
        {% else %}
          <span class="video-text__image onboarding-svg onboarding-background">{{ 'image' | placeholder_svg_tag }}</span>
        {% endunless %}
        
      </div>

    {% if url != blank and button_label == blank %}
      </a>
    {% endif %}

  </div>

  {% if color_text != 'rgba(0,0,0,0)' %}
    {% style %}
      #id-{{ id }}, 
      #id-{{ id }} a {
        color: {{ color_text }};
      }
      #id-{{ id }} .button--solid {
        background: {{ color_text }};
      }
      #id-{{ id }} .video-text__title span {
        background-image: linear-gradient(to right, {{ color_text }}, {{ color_text }});
      }
    {% endstyle %}
    <script type="text/javascript">
      $('#id-{{ id }} .button--solid').css('color', lightOrDark('{{ color_text }}'));
    </script>
  {% endif %}

  {% if color_bg != 'rgba(0,0,0,0)' %}
    {% style %}
      #id-{{ id }} .video-text__background:before {
        background-color: {{ color_bg }};
      }
    {% endstyle %}
  {% endif %}

  {% style %}
    #id-{{ id }} .video-text__container {
      padding-top: {{ video_height }};
    }
    @media all and (min-width: 768px) {
      #id-{{ id }} .video-text__content > div {
        max-width: {{ text_width }};
      }
    }
  {% endstyle %}

  {% if video_height == "56.25%" %}
    {% style %}
      #id-{{ id }} .video-text__background video {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        min-width: 0;
        min-height: 0;
        transform: none;
      }
    {% endstyle %}
  {% endif %}
  
</div>