<div class="blog-header {% if section.settings.blog_image %} has-image {% endif %}">

	<div class="blog-header__container">
		<h1 class="blog-header__title h1">{{ blog.title | escape }}</h1>

   {% if section.settings.blog_enable_tags %}
    <div class="blog-tags">
      <a {% if current_tags == blank %} class="selected" {% endif %} href="{{ blog.url }}"><span class="underline-animation">{{ 'blog.grid.tags_dropdown.all' | t }}</span></a>
      {% for tag in blog.all_tags %}
        <a {% if current_tags contains tag %} class="selected" {% endif %} href="{{ blog.url }}/tagged/{{ tag.handle }}">
          <span class="underline-animation">{{ tag | capitalize }}</span>
        </a>
      {% endfor %}
      </div>
    {% endif %}
	</div>

  {% if section.settings.blog_image %}
    <div class="blog-header__background" aria-hidden="true">
      {% render 'lazy-image', image: section.settings.blog_image, type: 'background' %}
    </div>
  {% endif %}

</div>

<div class="blog--{{ section.settings.layout }} blog--images-{{ section.settings.blog_show_image }} gutter--on">

	{% paginate blog.articles by section.settings.post_limit %}

		{% for article in blog.articles %}
			{% render 'blog-item', article: article, layout: section.settings.layout, blog_show_author: section.settings.blog_show_author, blog_show_date: section.settings.blog_show_date, blog_show_image: section.settings.blog_show_image %}
		{% else %}
      <p class="no-content-message">{{ 'blog.grid.no_articles_text' | t }}</p>
		{% endfor %}

  	{% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate %}
  	{% endif %}

	{% endpaginate %}

</div>

{% schema %}
  {
    "name": "Blog page",
    "class": "mount-blog-page overflow-hidden",
    "settings": [
      {
        "type": "image_picker",
        "id": "blog_image",
        "label": "Blog image",
        "info": "You may use an optional image as the header's background"
      },
      {
        "type": "checkbox",
        "id": "blog_enable_tags",
        "label": "Enable filtering by tags",
        "default": false
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 2,
        "max": 24,
        "step": 2,
        "default": 8
      },
      {
        "type": "checkbox",
        "id": "blog_show_image",
        "label": "Show post image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "label": "One column",
            "value": "grid cols-1"
          },
          {
            "label": "Two columns",
            "value": "grid cols-2"
          }
        ],
        "default": "grid cols-1"
      }
    ]
  }
{% endschema %}