<div class="content-section gutter--on blog-posts">

  <div class="blog-posts__header rte">
    
    {% unless section.settings.title == blank %}
      <h2 class="blog-posts__title h1" style="flex: 1;">{{ section.settings.title | escape }}</h2>
    {% endunless %}

    {% if section.settings.show_view_all %}
      <span>
        <a href="{{ blogs[section.settings.blog].url }}">{{ 'blog.view_all_articles' | t }}</a>
      </span>
    {% endif %}

  </div>

  <div class="blog--{{ section.settings.layout }} blog--images-{{ section.settings.blog_show_image }}" data-limit="{{ blogs[section.settings.blog].articles.size }}">
    
    {% unless section.settings.blog == blank %}
      {% for article in blogs[section.settings.blog].articles limit:section.settings.post_limit %}
        {% render 'blog-item', article: article, layout: section.settings.layout, blog_show_author: section.settings.blog_show_author, blog_show_date: section.settings.blog_show_date, blog_show_image: section.settings.blog_show_image %}
      {% endfor %}
    {% else %}
      {% for i in (1..section.settings.post_limit) %}
        {% render 'blog-item', layout: section.settings.layout, blog_show_author: section.settings.blog_show_author, blog_show_date: section.settings.blog_show_date, blog_show_image: section.settings.blog_show_image, blank_article: true %}
      {% endfor %}
    {% endunless %}

  </div>

</div>

{% schema %}
  {
    "name": "Blog posts",
    "class": "mount-blog-posts overflow-hidden",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Latest Articles"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 1,
        "max": 16,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "blog_show_image",
        "label": "Show post image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show link to blog page",
        "default": true
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "label": "One column",
            "value": "grid cols-1",
            "group": "Grid"
          },
          {
            "label": "Two columns",
            "value": "grid cols-2",
            "group": "Grid"
          },
          {
            "label": "Flexible (2 - 5 columns)",
            "value": "slider cols-4",
            "group": "Slider"
          }
        ],
        "default": "grid cols-2"
      }
    ],    
    "presets": [{
      "name": "Blog posts",
      "category": "Blog"
    }]
  }
{% endschema %}