<div class="collection-header {% if section.settings.show_collection_image and collection.image %} has-image {% endif %}" data-handle="{{ collection.handle }}">
    
  <div class="collection-header__container">

    <h1 class="collection-header__title h1">{{ collection.title | escape }}</h1>

    {% unless collection.description == blank %}
      <div class="collection-header__description rte">{{ collection.description }}</div>
    {% endunless %}

    {% if collection.products == empty %}
      <p class="no-content-message">{{ 'products.grid.no_products_text' | t }}</p>
    {% endif %}

  </div>

  {% style %}
    .template-collection-portfolio .collection--overlay .product-item__caption:before {
      background: {{ section.settings.color_caption_bg | color_modify: 'alpha', 0.7 }};
      background: linear-gradient(360deg, {{ section.settings.color_caption_bg | color_modify: 'alpha', 0.8 }} 0%, {{ section.settings.color_caption_bg | color_modify: 'alpha', 0.5 }} 100%);
    }
    .template-collection-portfolio .collection--overlay .product-item__title {
      color: {{ section.settings.color_caption_txt }};
    }
  {% endstyle %}

</div>

{% paginate collection.products by section.settings.products_number %}
  
  <div class="gutter--on"> 

    <div class="collection collection--overlay collection--grid collection--portfolio {% if section.settings.grid_aspect == 'natural' %} collection--masonry {% endif %} mount-collection">

      {% for product in collection.products %}
        {% render 'product-item-portfolio', product: product, grid_aspect: section.settings.grid_aspect %}
      {% endfor %}

      <div class="grid-sizer"></div>

    </div>

  	{% if paginate.pages > 1 %}
  		{% render 'pagination', paginate: paginate %}
  	{% endif %}

  </div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection Portfolio page",
    "class": "mount-collection overflow-hidden",
    "settings": [
      {
        "type": "range",
        "id": "products_number",
        "label": "Products per page",
        "min": 12,
        "max": 48,
        "step": 4,
        "default": 24
      },
      {
        "type": "header",
        "content": "Portfolio grid"
      },
      {
        "type": "select",
        "id": "grid_aspect",
        "label": "Media aspect ratio",
        "options": [
          {
            "value": "natural",
            "label": "Natural",
            "group": "Uncropped"
          },
          {
            "value": "1",
            "label": "Square (1:1)",
            "group": "Cropped"
          },
          {
            "value": "0.666667",
            "label": "Tall (2:3)",
            "group": "Cropped"
          },
          {
            "value": "1.33333",
            "label": "Short (4:3)",
            "group": "Cropped"
          }
        ],
        "default": "natural"
      },
      {
        "type": "color",
        "id": "color_caption_bg",
        "label": "Caption background",
        "default": "#D92F34"
      },
      {
        "type": "color",
        "id": "color_caption_txt",
        "label": "Caption text",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}