<div class="footer"> 
  {% for block in section.blocks %}

    {% case block.type %}

      {% when 'text' %}

        <div class="footer-item footer-text {{ block.settings.size }}">
        
          {% unless block.settings.title == blank %}
            <h4>{{ block.settings.title | escape }}</h4>
          {% endunless %}

          <div class="rte">
            {{ block.settings.content }}
          </div>    

        </div>

      {% when 'menus' %}

        <div class="footer-item footer-menus">

          {% unless block.settings.menu_1 == blank %}

            <div>

              {% unless block.settings.title_1 == blank %}
                <h4>{{ block.settings.title_1 | escape }}</h4>
              {% endunless %}
              
              <div class="footer-links body-size-lesser-than-normal">
                {% for link in linklists[block.settings.menu_1].links %}
                  <span>
                    <a href="{{ link.url | escape }}">{{ link.title | escape }}</a>
                  </span>
                {% endfor %}
              </div>

            </div>

          {% endunless %}

          {% unless block.settings.menu_2 == blank %}

            <div>

              {% unless block.settings.title_2 == blank %}
                <h4>{{ block.settings.title_2 | escape }}</h4>
              {% endunless %}
              
              <div class="footer-links body-size-lesser-than-normal">
                {% for link in linklists[block.settings.menu_2].links %}
                  <span>
                    <a href="{{ link.url | escape }}">{{ link.title | escape }}</a>
                  </span>
                {% endfor %}
              </div>

            </div>

          {% endunless %}

        </div>

      {% when 'newsletter' %}

        <div class="footer-item footer-newsletter">

          {% unless block.settings.title == blank %}
            <h4>{{ block.settings.title | escape }}</h4>
          {% endunless %}

          <div class="newsletter__form body-size-lesser-than-normal">
            {% if block.settings.alternative_html == blank %}

              {% form 'customer' %}

                {% render 'form-errors', form: form %}

                {% if form.posted_successfully? %}

                  <span class="alert alert--success">{{ 'general.newsletter.confirmation' | t }}</span>

                {% else %}
                  
                  <div>
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" class="newsletter__input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter.email_label' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter.email_label' | t }}" autocorrect="off" autocapitalize="off">
                    <button type="submit" class="newsletter__submit" id="Subscribe" aria-label="{{ 'general.newsletter.submit_label' | t }}">
                      <span aria-hidden="true">{% render 'theme-symbols', icon: 'arrow-long' %}</span>
                    </button>
                  </div>

                {% endif %}

              {% endform %}

            {% else %}
              {{ block.settings.alternative_html }}
            {% endif %}

          </div>

        </div>

      {% when 'social' %}

        <div class="footer-item footer-social">
          
          {% unless block.settings.title == blank %}
            <h4>{{ block.settings.title | escape }}</h4>
          {% endunless %}

          <div class="social-icons">

            {% if settings.social_facebook != '' %}
              <a href="{{ settings.social_facebook | escape }}" target="_blank" aria-label="Facebook"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_facebook' %}</span></a>
            {% endif %}

            {% if settings.social_instagram != '' %}
              <a href="{{ settings.social_instagram | escape }}" target="_blank" aria-label="Instagram"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_instagram' %}</span></a>
            {% endif %}
          </div>

        </div>
  
    {% endcase %}

  {% endfor %}

    <div class="footer-item footer-info localization-form-holder">

      {% render 'localization-form', location: 'footer', show_currency_selector: section.settings.show_currency_selector, show_locale_selector: section.settings.show_locale_selector %}
  
      {% if section.settings.show_payment_icons and shop.enabled_payment_types != empty %}
        <div class="footer-icons">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag }}
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="footer-copyright body-size-lesser-than-normal">
        <span>{{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name | escape }}</a><span class="powered-by-shopify">. {{ powered_by_link }}</span></span>
      </div>

    </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "class": "mount-footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Contact information"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Write a short statement about your brand.</p>"
          },
          {
            "type": "select",
            "id": "size",
            "label": "Text size",
            "options": [
              {
                "value": "",
                "label": "Regular"
              },
              {
                "value": "footer-text--large",
                "label": "Large"
              }
            ],
            "default": "footer-text--large"
          }
        ]
      },
      {
        "type": "menus",
        "name": "Menus",
        "settings": [
          {
            "type": "text",
            "id": "title_1",
            "label": "First menu heading",
            "default": "Menu"
          },
          {
            "type": "link_list",
            "id": "menu_1",
            "label": "First menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Second menu heading",
            "default": "Menu"
          },
          {
            "type": "link_list",
            "id": "menu_2",
            "label": "Second menu",
            "info": "This menu won't show dropdown items"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          },
          {
            "type": "html",
            "id": "alternative_html",
            "label": "Alternative Html" 
          }
        ]
      },
      {
        "type": "social",
        "name": "Social",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Follow us"
          }
        ]
      }
    ]
  }
{% endschema %}