{% schema %}
  {
    "name": "Login Forms",
    "tag": "section",
    "class": "login-forms-section",
    "settings": [
      {
        "id": "logo",
        "type": "image_picker",
        "label": "Logo"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Karma Club"
      },
      {
        "id": "preheading",
        "type": "textarea",
        "label": "Preheading",
        "default": "Jetzt anmelden!"
      },
      {
        "id": "background",
        "type": "image_picker",
        "label": "Background"
      }
    ]
  }
{% endschema %}
{%- comment -%}
scripts are in snippets/scripts-template-specific.liquid
{%- endcomment -%}
<div class="login-forms-wrapper">
  {%- if section.settings.logo -%}
    <div class="login-logo" aria-hidden="true">
      {%- render 'lazy-image', image: section.settings.logo, type: 'image' -%}
    </div>
  {%- endif -%}
  {%- if section.settings.preheading != "" -%}
    <h2 class="h1 text-center login-preheading">{{ section.settings.preheading }}</h3>
  {%- endif -%}
  {%- if section.settings.title != "" -%}
    <h1 class="text-center login-heading">{{ section.settings.title }}</h2>
  {%- endif -%}
  <div class="form-tabs">
    <div class="form-tabs__nav">
      <span data-form-tab-nav-item="register" class="form-tabs__nav-item{% if template == "customers/register"%} tab-active{% endif %}">{{ 'customers.register_page.form.submit_button' | t }}</span>
      <span data-form-tab-nav-item="login" class="form-tabs__nav-item{% if template == "customers/login"%} tab-active{% endif %}">{{ 'customers.login_page.form_login_button' | t }}</span>
    </div>
    <div class="form-tabs__contents">
      <div class="form-tabs__tab-content{% if template == "customers/register"%} tab-active{% endif %}" id="tab-register-form">
        <div>
          {%- include 'customer-register-form' -%}
        </div>
      </div>
      <div class="form-tabs__tab-content{% if template == "customers/login"%} tab-active{% endif %}" id="tab-login-form">
        <div>
          {%- include 'customer-login-form' -%}
          {%- include 'customer-reset-password-form' -%}
          {% if shop.checkout.guest_login %}
            <h3 class="title" style="margin-top: 2em;">{{ 'customers.login_page.guest_check' | t }}</h3>
            {% form 'guest_login' %}
              <input type="submit" class="button button--solid button--wide" value="{{ 'customers.login_page.guest_button' | t }}">
            {% endform %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- if section.settings.background -%}
<style>
  .login-forms-wrapper {
    background: url("{{ section.settings.background | img_url: '1920x' }}") no-repeat center;
    background-size: cover;
  }
</style>
{%- endif -%}
<script>
	function showRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'block';
		document.getElementById('customer_login').style.display='none';
	}
	function hideRecoverPasswordForm() {
		document.getElementById('recover_password').style.display = 'none';
		document.getElementById('customer_login').style.display = 'block';
	}
	if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
{% if reset_success %}
  <style type="text/css">
    #resetSuccess { 
      display: block !important;
      margin-top: 25px;
    }
  </style>
{% endif %}