<div class="mobile__sidebar">
  <div class="mobile__heading">
    {%- if shop.customer_accounts_enabled -%}
      {%- assign account_href = routes.account_login_url -%}
      {%- assign account_text = 'Karma Login' -%}
      {%- if customer -%}
        {%- assign account_href = routes.account_url -%}
        {%- assign account_text = 'Karma Account' -%}
      {%- endif -%}
      <a class="mobile__link" href="{{ account_href  }}">{% render 'theme-symbols', icon: 'account' %} {{account_text}}</a>
    {%- endif -%}
    {%- comment -%} This one is not implemented yet
    <div class="language__selector">Lang</div>
    {%- endcomment -%}
  </div>
  {%- if section.settings.menu_mobile_primary -%}
    {%- render 'nav-mobile', menu: menus[section.settings.menu_mobile_primary], img: section.settings.mobile_menu_bg_src -%}
  {%- endif -%}
  <div class="mobile-separator"></div>
  <div class="mobile__highlights">
    {%- if section.blocks.size > 0 -%}
      <h3 class="highlights__title">{{ section.settings.hightlights_title }}</h3>
      {%- for block in section.blocks -%}
        {%- if block.settings.link != blank and block.settings.title != blank -%}
          <div class="highlights__block">
            <a class="highlights__item-link{% if block.settings.image %} has-hightlights-image{% endif %}" href="{{  block.settings.link }}">
              {%- if  block.settings.image -%}
                <img class="highlights__item-image" src="{{  block.settings.image | img_url: '720x280' }}" alt="{{  block.settings.title }}">
              {%- endif -%}
              <span class="highlights__item-title">{{  block.settings.title }}</span>
            </a>  
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
  <div class="mobile-separator"></div>
  <a href="{{ section.settings.help_link }}" class="support-link">{{ section.settings.help_text }}</a>
  <ul class="mobile__social-nav">
    {%- if settings.social_instagram != blank -%}
    <li><a href="{{ settings.social_instagram | escape }}" target="_blank" aria-label="Instagram"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_instagram' %}</span></a></li>
    {%- endif -%}
    {%- if settings.social_facebook != blank -%}
    <li><a href="{{ settings.social_facebook | escape }}" target="_blank" aria-label="Facebook"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_facebook' %}</span></a></li>
    {%- endif -%}
    {%- if settings.social_twitter != blank -%}
    <li><a href="{{ settings.social_twitter | escape }}" target="_blank" aria-label="Twitter"><span class="icon" aria-hidden="true">{% render 'theme-symbols', icon: 'social_twitter' %}</span></a></li>
    {%- endif -%}
  </ul>
  <div class="mobile__footer">
    {%- if section.settings.menu_mobile_footer -%}
    <ul class="mobile__footer-menu">
      {%- for link in section.settings.menu_mobile_footer.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.active or link.child_active %} class="selected" {% endif %}>
          {{ link.title }}
        </a>
      </li>
      {%- endfor -%} 
    </ul>
    {%- endif -%}
    {%- if section.settings.show_payment_icons and shop.enabled_payment_types != empty -%}
      <div class="mobile__payment-icons">
        {%- for type in shop.enabled_payment_types -%}
          {{ type | payment_type_svg_tag }}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
<a class="mobile__close" href="#">{% render 'theme-symbols', icon: 'close' %}</a>
{% schema %}
  {
    "name": "Mobile Nav",
    "class": "mobile-nav",
    "settings": [
      {
        "type": "image_picker",
        "id": "mobile_menu_bg_src",
        "label": "Mobile Header Background Image",
        "info": "Minimal Image size should be around 400x80. Double size is preffered (800x160)."
      },
      {
        "type": "link_list",
        "id": "menu_mobile_primary",
        "label": "Primary mobile navigation",
        "info": "The menu should have 2 first level items. The rest of the items should be added as sub items."
      },
      {
        "type": "header",
        "content": "Highlights Settings"
      },
      {
        "type": "text",
        "id": "hightlights_title",
        "label": "Highlights Title",
        "default": "Highlights"
      },
      {
        "type": "header",
        "content": "Footer Settings"
      },
      {
        "type": "text",
        "id": "help_text",
        "label": "Help Text",
        "default": "Hilfe / Support"
      },
      {
        "type": "url",
        "id": "help_link",
        "label": "Help Link"
      },
      {
        "type": "link_list",
        "id": "menu_mobile_footer",
        "label": "Footer mobile navigation"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "highlight",
        "name": "Highlight",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title",
            "info": "The Title field is mandatory."
          },
          {
            "type": "url",
            "id": "link",
            "label": "Highlights Link",
            "info": "The Highlights Link field is mandatory."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Minimal Image size should be 360x140. Double size is preffered (720x280)."
          }
        ]
      }
    ]
  }
{% endschema %}