<article id="section-{{ section.id }}" class="page-section project onboarding--true" data-collection="{{ collection.handle }}" data-id="{{ product.id }}">
  
  <div class="project__header">
    <div class="project__header-content">
      <h1 class="project__title">{{ product.title | escape }}</h1>
      {% if collection %}
        <div class="project__navigation">
          <a class="project__navigation-item project__navigation--previous {% unless collection.previous_product %} disabled {% endunless %}" href="{{ collection.previous_product.url }}">
            <span class="arrow">{% render 'theme-symbols', icon: 'arrow-left' %}</span>
            <span class="text">{{ 'products.portfolio.navigation.previous' | t }}</span>
          </a>
          <span class="project__navigation-separator">|</span>
          <a class="project__navigation-item project__navigation--next {% unless collection.next_product %} disabled {% endunless %}" href="{{ collection.next_product.url }}">
            <span class="text">{{ 'products.portfolio.navigation.next' | t }}</span>
            <span class="arrow">{% render 'theme-symbols', icon: 'arrow-right' %}</span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  
  <div class="project__content">

    <div class="project__gallery">
    
      {% if product.media.size == 0 %} 

        <div class="product-gallery__item">
          <span class="onboarding-svg with-background">
            {{ 'product-1' | placeholder_svg_tag }}
          </span>
        </div>

      {% endif %}

      {% for media in product.media %}
        {% render 'product-media', media: media, enable_zoom: section.settings.enable_zoom, index: forloop.index0 %}
      {% endfor %}

      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

      {% if first_3d_model %}
        <button
          aria-label="{{ 'products.page.view_in_space_label' | t }}"
          class="product-gallery__view-in-space"
          data-shopify-xr
          data-shopify-first-model3d-id="{{ first_3d_model.id }}"
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >{% render 'theme-symbols', icon: 'model-button' %}
          <span class='product-gallery__view-in-space-text'>{{ 'products.page.view_in_space' | t }}</span>
        </button>
      {% endif %}

    </div>

    <div class="project__text">

      <div class="rte {% if section.settings.style_links %} style-links {% endif %}">{{ product.description }}</div>

      {% if section.settings.show_share %}
        {% render 'share-popup', title: product.title, url: product.url, image: product.featured_media %}
      {% endif %}

    </div>

  </div>

  {% unless product.empty == empty %}
    <script type="application/json" id="ModelJson-{{ section.id }}" class="model-json">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {% endunless %}

</article>

{% schema %}
	{
    "name": "Product portfolio page",
    "class": "mount-project-page",
    "settings": [
      {
        "type": "checkbox",
        "id": "style_links",
        "label": "Style links as buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share",
        "label": "Show share link",
        "default": true
      }
    ]
  }
{% endschema %}