{% if search.performed and search.results_count > 0 %}

	{% comment %}
		Show collection page without form
	{% endcomment %}

	{% paginate search.results by 15 %}

		{%- assign products_in_current = false -%}
		{%- assign offset = paginate.current_offset | plus: 1 -%}
		{%- assign page_size = paginate.current_offset | plus: paginate.page_size | at_most: paginate.items -%}

		{% assign products_results = search.results | where: 'object_type', 'product' %}

		{% if products_results.size > 0 %}

			<div class="search-header">
				
				<div class="search-header__container">

		      {% render 'breadcrumb', terms: search.terms %}
					
			    <h1 class="search-header__title h1">{{ 'search.page.products_found' | t: terms: search.terms }}</h1>
			    <div class="search-header__description rte">{{ 'search.page.results_count' | t: offset: offset, page_size: page_size, count: paginate.items }}</div>

			    {% assign products_in_current = true %}

			  </div>

			</div>

			<div class="gutter--on">
			
				<div class="collection collection--{{ settings.grid_style }} collection--grid mount-collection">

					{% for product in products_results %}
						{% assign show_product = false %}
						{% if product.price > 0 %}
							{% assign show_product = true %}
						{% endif %}

						{% if product.tags contains "excludesearch" or product.tags contains "hidden" %} 
							{% assign show_product = false %}
						{% endif %} 

						{% if show_product %}
							{% render 'product-item', product: product %}
						{% endif %}
					{% endfor %}

		    </div>

	  	{% if paginate.pages > 1 %}
	  		{% render 'pagination', paginate: paginate %}
	  	{% endif %}
				
			</div>

		{% endif %}

		{% comment %}
    {% if search.types contains 'page' or search.types contains 'article' %}

    	{% capture search_results %}

    		{% for result in search.results %}

					{% if result.object_type == 'product' %}
						{% continue %}
					{% endif %}

					<div class="blog-item">

						<div class="blog-item__content">
							
							<div class="blog-item__title-holder">
								<a href="{{ result.url | escape }}" title="{{ result.title | escape }}">
									<h3 class="blog-item__title h0"><span>{{ result.title | escape }}</span></h3>
								</a>
							</div>

							<div class="blog-item__excerpt">
								<p>{{ result.content | strip_html | truncatewords: 35 }}</p>
							</div>

							<div><a class="blog-item__more" href="{{ result.url | escape }}">{{ 'blog.grid.read_more_label' | t }}</a></div>

						</div>

					</div>

				{% endfor %}

			{% endcapture %}

			{% if search_results != blank %}

	    	<div class="search-header">
					<div class="search-header__container">
						{% if products_results.size == 0 %}
		      		{% render 'breadcrumb', terms: search.terms %}
		      	{% endif %}
				    <h2 class="search-header__title h1">{{ 'search.page.pages_and_articles_found' | t: terms: search.terms }}</h2>
				    {% unless products_in_current %}
			    		<div class="search-header__description rte">{{ 'search.page.results_count' | t: offset: offset, page_size: page_size, count: paginate.items }}</div>
			    	{% endunless %}
				  </div>
				</div>

				<div class="blog--grid blog--images-false cols-1 gutter--on">
					{{ search_results }}
				</div>

		  	{% if paginate.pages > 1 %}
		  		{% render 'pagination', paginate: paginate %}
		  	{% endif %}

			{% endif %}

    {% endif %}

		{% endcomment %}

	{% endpaginate %}

{% else %}

	{% comment %}
		Show basic page with form
	{% endcomment %}

	<div class="page-content">

		<div class="page-header">
			<h1 class="title h0">{{ 'search.page.title' | t }}</h1>
			{% if search.performed and search.results_count == 0 %}
				<p class="subtitle">{{ 'search.page.no_results' | t: terms: search.terms }}</p>
			{% else %}
				<p class="subtitle">{{ 'search.page.subtitle' | t }}</p>
			{% endif %}
		</div>

		<div class="page-body">
			{% render 'search-form' %}
			<div class="page-action">
				<a href="{{ routes.all_products_collection_url }}" class="button button--solid">{{ 'search.page.continue_browsing' | t }}</a></div>
		</div>

	</div>

{% endif %}

{% schema %}
  {
    "name": "Search page",
    "settings": [
      {
        "type": "range",
        "id": "products_number",
        "label": "Products per page",
        "min": 12,
        "max": 48,
        "step": 4,
        "default": 24
      }
    ]
  }
{% endschema %}