<div class="content-section video-popup gutter--{% if section.settings.gutter_enabled %}on{% else %}off{% endif %}">

  <div class="video-popup__container">

    <a class="video-popup__link" {% unless section.settings.video == blank %} data-video-id="{{ section.settings.video.id }}" data-video-source="{{ section.settings.video.type }}" {% endunless %} href="{{ section.settings.video }}">

      <div class="video-popup__text">

        {% unless section.settings.title == blank %}
          <h3 class="video-popup__title h1"><span>{{ section.settings.title | escape }}</span></h3>
        {% endunless %}

        {% unless section.settings.subheading == blank %}
          <span class="video-popup__subheading">{{ section.settings.subheading | escape }}</span>
        {% endunless %}

      </div>

      {% unless section.settings.video == blank %}
        <span class="video-popup__play" aria-hidden="true">
          {% render 'theme-symbols', icon: 'play' %}
        </span>
      {% endunless %}

      {% unless section.settings.image == blank %}
        <span class="video-popup__background" aria-hidden="true">
        {% render 'lazy-image', image: section.settings.image, type: 'background', alt: section.settings.title %}
        </span>
      {% else %}
        <span class="video-popup__background onboarding-svg onboarding-background">
          <span style="opacity: .5;">{{ 'lifestyle-1' | placeholder_svg_tag }}</span>
        </span>
      {% endunless %}

    </a>

  </div>

</div>

{% if section.settings.color_bg != 'rgba(0,0,0,0)' %}
  {% style %}
    #shopify-section-{{ section.id }} .video-popup__background:before {
      background: {{ section.settings.color_bg }};
    }
  {% endstyle %}
{% endif %}

{% if section.settings.color_text != 'rgba(0,0,0,0)' %}
  {% style %}
    #shopify-section-{{ section.id }} .video-popup__link {
      color: {{ section.settings.color_text }};
    }
    #shopify-section-{{ section.id }} .video-popup svg path {
      fill: {{ section.settings.color_text }};
    }
  {% endstyle %}
{% endif %}

{% schema %}
  {
    "name": "Video: popup",
    "class": "mount-video-popup",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Video popup"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Share your brand's story"
      },
      {
        "id": "video",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Custom text color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Overlay color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "header",
        "content": "Gutter"
      },
      {
        "type": "checkbox",
        "id": "gutter_enabled",
        "label": "Enable inner content spacing"
      }
    ],
    "presets": [{
      "name": "Video: popup",
      "category": "Video"
    }]
  }
{% endschema %}