<!doctype html>
<html class="no-js">
<head>



	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">

	{% if settings.favicon_image %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
	{% endif %}

	<title>{{ shop.name | escape }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

	{% render 'open-graph' %}

	<link rel="canonical" href="{{ canonical_url }}">

  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'theme.min.js' | asset_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

  {% render 'head-variables' %}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

	{{ content_for_header }}

</head>

<body class="template-password no-touch">
	
	{{ content_for_layout }}
	
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
	{{ 'magnific.popup.min.js' | asset_url | script_tag }}

	<script>
		$(function() {
			$('.js-toggle-login-modal').magnificPopup({
				type: 'inline',
				mainClass: 'mfp-fade',
				closeOnBgClick: false,
				closeBtnInside: false,
				closeOnContentClick: false,
				removalDelay: 1,
				callbacks: {
					open: function() {
						window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
					},
					close: function() {
						window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
					}
				}
			});
			if ( $('.storefront-password-form .errors').length ) {
				$('.js-toggle-login-modal').click();
			}
		});
	</script>

</body>

</html>