<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
	{%- render 'elevar-head' -%}
	{% if shop.permanent_domain == 'rosental-de.myshopify.com' %}
		{%- include "gtm-head" -%}
		<script src="https://www.googleoptimize.com/optimize.js?id=OPT-5WCVWKZ"></script>
	{% elsif shop.permanent_domain == 'rosental-beauty.myshopify.com' %}
		<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TnPhyX"></script>
	{% endif %}
	{%- render 'no-robots', product: product -%}
	{% include 'shop-redirect' %}
	{% include 'hotjar' %}
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}

 	{%- render 'layouthub_header' -%}
 	{%- comment -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-NW8NHY18V4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-NW8NHY18V4');
	</script>
	{%- endcomment -%}
  
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">

	{% if settings.favicon %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
	{% endif %}

	{% capture seo_title %}
    {% if template contains 'search' %}
      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
    {% else %}
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
    {% endif %}
  {% endcapture %}

	<title>{{ seo_title }}</title>

	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% render 'open-graph' %}
  {% render 'microdata-schema' %}

	<link rel="canonical" href="{{ canonical_url }}">

  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'main.css' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'theme-customized.min.js' | asset_url }}">
	<link rel="preload" as="script" href="{{ 'main.js' | asset_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="//code.jquery.com/jquery-3.5.1.slim.min.js">

  {% render 'head-variables' %}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
	<link rel="stylesheet" href="{{ 'main.css' | asset_url }}">

	<link rel="stylesheet" href="{{ 'badge.css' | asset_url }}">

	{{ content_for_header }}

  <script src="//code.jquery.com/jquery-3.5.1.slim.min.js" 
	  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
	  crossorigin="anonymous">
	</script>
	
  {% if template == 'customers/addresses' %}
	  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
	  <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
	{% endif %}


    {{ 'main.js' | asset_url | script_tag }}

  <script type="text/javascript">

  	function lightOrDark(a){if(a.match(/^rgb/)){a=a.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+(?:\.\d+)?))?\)$/);var b=a[1];var c=a[2];a=a[3]}else a=+("0x"+a.slice(1).replace(5>a.length&&/./g,"$&$&")),b=a>>16,c=a>>8&255,a&=255;return 140<Math.sqrt(.299*b*b+.587*c*c+.114*a*a)?"#000":"#fff"};

  	window.reorderSections = function() {
	    $(".with-gutter").removeClass("with-gutter");
	    $(".without-gutter").removeClass("without-gutter");
	    $(".content-section.gutter--on").each(function() {
	      $(this).parent().addClass("with-gutter");
	      if ( $(this).hasClass('parent-has-inner-padding') ) {
	      	$(this).parent().addClass('has-inner-padding');
	      }
	    });
	    $(".content-section.gutter--off").each(function() {
	      $(this).parent().addClass("without-gutter")
	    });
		};
		$(document).ready(function() {
		   window.reorderSections()
		});

  	2===performance.navigation.type&&location.reload(!0);
  </script>

  {% include "loyaltylion" %}
  <script async src="https://scripting.tracify.ai/tracifyv2.js?csid=d9d7c8c7-5a4b-42aa-99a7-401f20a985a8"></script>

  <script type="text/javascript" src="https://try.abtasty.com/257d66e320a9f11d907e9fe4237e5238.js"></script>
</head>

<body
	id="{{ page_title | handle }}"
	class="{% if settings.klevu_api_key != blank %}klevu-search-enabled {% endif %}{% if customer %} customer-logged-in {% endif %} template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} no-touch clearfix h-full overflow-x-hidden">

	{%- render 'elevar-body-end' -%}
	{% if shop.permanent_domain == 'rosental-de.myshopify.com' %}
		{% include "gtm-body" %}
	{% endif %}
	
	{% render 'layout-cart-drawer' %}
	{% section 'announcement-bar' %}
	{% section 'sidebar' %}
	{%- section 'mobile-nav' -%}
	<div id="content-holder">

		<main id="content" role="main">
			
			<!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->

			{% section 'text-columns-with-icons' %}
			{% section 'footer' %}

		</main>

	</div>

	{% section 'popup' %}

	<script type="text/javascript">

		window.shop_money_format = "{{ shop.money_format }}";
		window.cart_action = "{{ settings.cart_action }}";
		window.cart_url = "{{ routes.cart_url }}";

		window.product_words_add_to_cart_button = "{{ 'products.page.add_to_cart_button' | t }}";
		window.product_words_sold_out_variant = "{{ 'products.page.inventory.sold_out_variant' | t }}";
		window.product_words_unavailable_variant = "{{ 'products.page.inventory.unavailable_variant' | t }}";
		window.product_words_one_product = "{{ 'products.page.inventory.one_product' | t }}";
		window.product_words_few_products = "{{ 'products.page.inventory.few_products' | t }}";
		window.product_words_no_products = "{{ 'products.page.inventory.no_products' | t }}";
		window.product_words_preorder = "{{ 'products.page.inventory.preoder' | t }}";
		window.products_page_more_description_label = "{{ 'products.page.more_description_label' | t }}";
		window.products_page_less_description_label = "{{ 'products.page.less_description_label' | t }}";

    window.cart_url = "{{ routes.cart_url }}";
    window.cart_add_url = "{{ routes.cart_add_url }}";
    window.cart_change_url = "{{ routes.cart_change_url }}";
		window.cart_add_error = "{{ 'cart.add_error' | t }}";
		window.cart_general_error = "{{ 'cart.general_error' | t }}";

		{% capture symbol_arrow %}{% render 'theme-symbols', icon: 'arrow-long' %}{% endcapture %}
		window.symbol_arrow = '{{ symbol_arrow | strip_newlines }}';

    window.search_url = "{{ routes.search_url }}";
    window.predictive_search_enabled = "{{ settings.predictive_search_enabled }}";
    window.predictive_search_show_vendor = "{{ settings.predictive_search_show_vendor }}";
    window.predictive_search_show_price = "{{ settings.predictive_search_show_price }}";
    window.predictive_search_limit = "{{ settings.predictive_search_limit }}";
    window.predictive_search_include_articles = "{{ settings.predictive_search_include_articles }}";
    window.predictive_search_include_pages = "{{ settings.predictive_search_include_pages }}";
    window.search_words_collection_results_title = "{{ 'search.form.collection_results_title' | t }}";
    window.search_words_page_results_title = "{{ 'search.form.page_results_title' | t }}";
    window.search_words_article_results_title = "{{ 'search.form.article_results_title' | t }}";
    window.search_words_search_for_html = '{{ 'search.form.search_for_html' | t }}';
		window.search_words_prefix_by = '{{ 'general.prefixes.by' | t }}';
    window.search_placeholder_image = '{{ 'product-1' | placeholder_svg_tag }}';

    {% if settings.predictive_search_enabled %} 
      window.month_names = ["{{ 'general.date_format.month_names.January' | t }}", "{{ 'general.date_format.month_names.February' | t }}", "{{ 'general.date_format.month_names.March' | t }}", "{{ 'general.date_format.month_names.April' | t }}", "{{ 'general.date_format.month_names.May' | t }}", "{{ 'general.date_format.month_names.June' | t }}", "{{ 'general.date_format.month_names.July' | t }}", "{{ 'general.date_format.month_names.August' | t }}", "{{ 'general.date_format.month_names.September' | t }}", "{{ 'general.date_format.month_names.October' | t }}", "{{ 'general.date_format.month_names.November' | t }}", "{{ 'general.date_format.month_names.December' | t }}"];
    {% endif %}

    if ( ! JSON.parse($('#shopify-features').text()).predictiveSearch ) {
      window.predictive_search_enabled = "false";
      jQuery('.sidebar__search.predictive-search').removeClass('predictive-search');
    }

	</script>

	<script type="text/javascript">
		if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
		  $('body').removeClass('no-touch').addClass('touch');
		} 
	</script>

	<span class="cart-overlay-background"></span>
	<span class="menu-overlay-background"></span>
	<span class="locals-overlay-background"></span>

  <script type="text/javascript">
    function onYouTubeIframeAPIReady(){ 
      window.KING.ProductMedia._mountYouTubeVideos();
    }
  </script>

	<noscript><style type="text/css">.ll-fallback{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center;background-repeat:no-repeat;z-index:99}#shopify-section-popup{display:none!important}.product-gallery--slider{height:auto}video,iframe,model-viewer{opacity:1!important;position:absolute !important;top:0;left:0;width:100%;height:100%;}</style></noscript>
	<div class="discount_applied_text">{{ 'general.discount_applied' | t  }}</div>

	<script type="text/javascript" src="{{ 'theme-customized.min.js' | asset_url }}" async></script>

{%- render 'layouthub_footer' -%} 
	<script type="text/javascript">

		jQuery(function($) {
			CartJS.init({{ cart | json }}, {
				"dataAPI": true,
				"moneyFormat": "{{ shop.money_format }}",
				"moneyWithCurrencyFormat": "{{ shop.money_with_currency_format }}"
			});
			
			$(document).on('cart.requestComplete', function(event, cart) {
				window.dispatchEvent( new CustomEvent('open-cart', {'detail': {open: true}}) );
				window.dispatchEvent( new CustomEvent('cart-update', {'detail': {cart: cart}}) );
				$("#CartCount").html(cart.item_count);

				if (cart.item_count == 1 && cart.total_price == 0) {
					CartJS.updateItem(1, 0);
				}
				if(cart.item_count > 0) {
					$('.sidebar__cart-handle').addClass('sidebar__cart-handle--has-items');
				} else {
					$('.sidebar__cart-handle').removeClass('sidebar__cart-handle--has-items');
				}
			});

			$("#cart-trigger").click(function(e) {
				e.preventDefault();
				$(document).trigger("cart.openCart");
				return false;
			});
		});
		
	</script>
	{%- render 'scripts-template-specific' -%}
	{%- include "reviewsio-rating-snippet-widget" -%}
	{%- render 'klevu' -%}
 </body>
</html>